<!-- Product -->
<div>

    <!--INDEX-->
    <div ng-if="mode == 'index'">
        <div class="w3-row w3-container">
            <h4 class="w3-text-theme">Gestión</h4>
        </div>
        <div class="w3-row w3-container">
            <div ng-click="ConfirmDeleteProduct()" class="w3-button w3-right w3-text-theme w3-large" ng-show="selectedElements.length == 1"><i
                    class="far fa-trash-alt"></i></div>
            <div ng-click="EditProduct()" class="w3-button w3-right w3-text-theme w3-large" ng-show="selectedElements.length == 1"><i
                    class="fas fa-edit"></i></div>
            <div ng-click="DetailProduct()" class="w3-button w3-right w3-text-theme w3-large" ng-show="selectedElements.length == 1"><i
                    class="far fa-eye"></i></div>
            <div ng-click="CreateProduct()" class="w3-button w3-right w3-text-theme w3-large" ng-show="true"><i
                    class="fas fa-plus"></i></div>
            <div class="g-searchInput w3-rest w3-text-theme w3-large" ng-show="true">
                <input ng-model="filtro" class="w3-input w3-border" type="text" name="Search" requipurple>
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="w3-row w3-container">
            <div class="g-scrollable" style="max-height: 300px;">
                <table class="w3-striped g-table">
                    <thead>
                        <tr class="w3-theme">
                            <th class="w3-theme"><input ng-click="SelectAllElements()" ng-model="allElementsSelected" type="checkbox" unchecked></th>
                            <th class="w3-theme">Serial</th>
                            <th class="w3-theme">Área</th>
                            <th class="w3-theme">Estado</th>
                            <th class="w3-theme">Nombre</th>
                            <th class="w3-theme">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in result = (products | filter: filtro)">
                            <td><input ng-click="SelectElement(p)" ng-model="p.selected" type="checkbox" unchecked></td>
                            <td>{{p.serial}}</td>
                            <td>{{p.area.name}}</td>
                            <td>{{p.productState.name}}</td>
                            <td>{{p.name}}</td>
                            <td>{{p.purchaseValue | currency:"$":0}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="result.length == 0" class="w3-row w3-container w3-text-theme w3-padding-32"
            style="width: 100%; text-align: center;">
            <h4><i class="fas fa-ghost"></i> Busqueda sin datos...</h4>
        </div>
    </div>
    <!--SET - GET -->
    <div ng-if="mode == 'create' || mode == 'edit' || mode == 'detail'">

        <div class="w3-row w3-container">
            <div class="w3-left">
                <div ng-click="Back()" class="w3-button w3-right w3-text-theme w3-large" ng-show="true">
                    <i class="fas fa-arrow-left"></i>
                </div>
            </div>
            <div class="w3-left">
                <h4 class="w3-text-theme" style="line-height: 23px;">{{formTitle}}</h4>
            </div>
        </div>
        <div>
            <div class="w3-row">
                <div class="w3-section w3-third w3-padding">
                    <label>Tipo</label>
                    <select ng-model="product.productTypeID" class="w3-select w3-border" name="option" ng-disabled="mode == 'detail'">
                        <option value="0" disabled selected></option>
                        <option ng-repeat="type in options.productTypes" ng-value="{{type.productTypeID}}">{{type.name}}
                        </option>
                    </select>
                    <span ng-if="errors.ProductTypeID" class="w3-text-theme"> *{{errors.ProductTypeID[0]}} </span>
                </div>
                <div class="w3-section w3-third w3-padding">
                    <label>Estado</label>
                    <select ng-model="product.productStateID" class="w3-select w3-border" name="option" ng-disabled="mode == 'detail'">
                        <option value="0" disabled selected></option>
                        <option ng-repeat="state in options.productStates" ng-value="{{state.id}}">{{state.name}}
                        </option>
                    </select>
                    <span ng-if="errors.ProductStateID" class="w3-text-theme"> *{{errors.ProductStateID[0]}} </span>
                </div>
                <div class="w3-section w3-third w3-padding">
                    <label>Área</label>
                    <select ng-model="product.areaID" class="w3-select w3-border" name="option" ng-disabled="mode == 'detail'">
                        <option value="0" disabled selected></option>
                        <option ng-repeat="area in options.areas" ng-value="{{area.id}}">{{area.name}}</option>
                    </select>
                    <span ng-if="errors.AreaID" class="w3-text-theme"> *{{errors.AreaID[0]}} </span>
                </div>
                <div class="w3-section w3-half w3-padding">
                    <label>Serial</label>
                    <input ng-model="product.serial" class="w3-input w3-border" type="text" name="Name" requipurple ng-disabled="mode == 'detail'">
                    <span ng-if="errors.Serial" class="w3-text-theme"> *{{errors.Serial[0]}} </span>
                </div>
                <div class="w3-section w3-half w3-padding">
                    <label>Nombre</label>
                    <input ng-model="product.name" class="w3-input w3-border" type="text" name="Name" requipurple ng-disabled="mode == 'detail'">
                    <span ng-if="errors.Name" class="w3-text-theme"> *{{errors.Name[0]}} </span>
                </div>
                <div class="w3-section w3-rest w3-padding">
                    <label>Descripción</label>
                    <textarea ng-model="product.description" style="resize: none;" class="w3-input w3-border"
                        type="text" name="Name" requipurple rows="3" ng-disabled="mode == 'detail'"></textarea>
                    <span ng-if="errors.Description" class="w3-text-theme"> *{{errors.Description[0]}} </span>
                    <span ng-show="product.description.length >= 0" style="font-size: small;"
                        class="w3-text-grey w3-right"> {{product.description.length}}/500 </span>
                </div>
                <div class="w3-section w3-half w3-padding">
                    <label>Valor de compra</label>
                    <input ng-model="product.purchaseValue" class="w3-input w3-border" type="number" name="Email"
                        requipurple ng-disabled="mode == 'detail'">
                    <span ng-if="errors.purchaseValue" class="w3-text-theme"> *{{errors.purchaseValue[0]}} </span>
                </div>
                <div class="w3-section w3-half w3-padding">
                    <label>Fecha de compra</label>
                    <input ng-model="product.purchaseDate" class="w3-input w3-border" type="date" name="Message"
                        requipurple ng-disabled="mode == 'detail'">
                    <span ng-if="errors.purchaseDate" class="w3-text-theme"> *{{errors.purchaseDate[0]}} </span>
                </div>

            </div>
            <div class="w3-row w3-padding-32">
                <div class="w3-quarter w3-padding">

                </div>
                <div class="w3-quarter w3-padding" ng-if="mode != 'detail'">
                    <button ng-click="Back()" type="submit"
                        class="w3-button w3-block w3-padding-large w3-light-grey w3-margin-bottom">
                        Descartar
                    </button>
                </div>
                <div class="w3-quarter w3-padding" ng-if="mode != 'detail'">
                    <button ng-click="SetProduct()" type="submit"
                        class="w3-button w3-block w3-padding-large w3-theme w3-margin-bottom">
                        Guardar
                    </button>
                </div>
                <div class="w3-quarter w3-padding">

                </div>
            </div>

        </div>
    </div>
    <!--DELETE-->
    <div ng-if="mode == 'delete'">
        <div class="w3-row w3-container">
            <div class="w3-left">
                <div ng-click="Back()" class="w3-button w3-right w3-text-theme w3-large" ng-show="true">
                    <i class="fas fa-arrow-left"></i>
                </div>
            </div>
            <div class="w3-left">
                <h4 class="w3-text-theme" style="line-height: 23px;">{{formTitle}}</h4>
            </div>
        </div>
        <div>
            <div class="w3-row">

                <div class="w3-section w3-col w3-padding" style="text-align: center;">
                    <h3>¿Está seguro de eliminar este producto?</h3>
                </div>

            </div>
            <div class="w3-row w3-padding-32">
                <div class="w3-quarter w3-padding">

                </div>
                <div class="w3-quarter w3-padding">
                    <button ng-click="Back()" type="submit"
                        class="w3-button w3-block w3-padding-large w3-light-grey w3-margin-bottom">
                        Descartar
                    </button>
                </div>
                <div class="w3-quarter w3-padding">
                    <button ng-click="DeleteProduct()" type="submit" class="w3-button w3-block w3-padding-large w3-theme w3-margin-bottom">
                        Eliminar
                    </button>
                </div>
                <div class="w3-quarter w3-padding">

                </div>
            </div>

        </div>
    </div>


</div>